<!doctype html>
<html lang="en-US">
  <head>
    <title>File-based CMS System</title>
    <meta charset="UTF-8">
    
  <% if session[:error] %>
    <%= session.delete(:error) %>
  <% end %>

  <ul>
    <% @files.each do |file| %>
      <li>
        <a href="/<%= file %>"><%= file %></a> |
        <a href="/<%= file %>/edit_file">Edit</a>
      </li>
    <% end %>
  </ul>
</html>