<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="icon" href="/favicon.ico">
  </head>
 
  <body>
    <h1>Missy's CMS</h1>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
