<form method='post' action='/create'>
  <label for="doc_title">Add a new document:</label>
  <div>
    <textarea name="doc_title" id="doc_title" rows="1" cols="100"></textarea>
  </div>
  <button type="submit">Add Document</button>
</form>